<head>
  <link rel='stylesheet' type='text/css' href='app/assets/stylesheets/landing.css'>
</head>
<h1 class='text'>Listing registration</h1>

<table>
  <tr>
    <th class='text'>Title</th>
    <th class='text'>Text</th>
  </tr>

  <% @registrations.each do |registration| %>
    <tr>
      <td class='text'><%= registration.username %></td>
      <td class ='text'><%= registration.email %></td>
      <td class ='text'><%= link_to 'Show', registration_path(registration), :class =>'text'%></td>
    </tr>
  <% end %>

</table>
