<html>
<head>
  <title>
    dashboard.io -- The dashboard for your life
  </title>
<link rel='stylesheet' type='text/css' href='app/assets/stylesheets.welcome.css'>
<script src='http://code.jquery.com/jquery-latest.min.js'></script>
<script type='text/javascript' src='app/assets/javascripts/welcome.js'></script>
</head>

<center>
<body>
  <h1 class= 'welcometext' id='challenge'> What's your challenge?</h1>
  <p class ='welcometext' id='paragraph'> People thrive on challenge.
  Dashboard.io can help you keep track of your goals and propel you to the next level.</p>
  <div class='buttons' id='signup'>Sign Up</div>
  <div class='buttons' id='login'>Log In</div> 
</body>
</center>

</html>
